In [1]:
index_cd = 'KPI200'
page_n = 1
naver_index = 'https://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)

In [2]:
from urllib.request import urlopen
import os
os.environ["HTTP_PROXY"] = ""
os.environ["HTTPS_PROXY"] = ""
os.environ["PYTHONHTTPSVERIFY"] = "0"

In [3]:
source = urlopen(naver_index).read()

In [4]:
import bs4

In [5]:
source = bs4.BeautifulSoup(source, 'lxml')

In [13]:
td = source.find_all('td')

In [8]:
source.find_all('table')[0].find_all('tr')[2].find_all('td')[0]

In [28]:
source.find_all('table')[0].find_all('tr')[2].find_all('td')[1]

In [25]:
dates = source.find_all('td', class_='date')
prices = source.find_all('td', class_='number_1')

In [26]:
dates

[<td class="date">2020.11.12</td>,
 <td class="date">2020.11.11</td>,
 <td class="date">2020.11.10</td>,
 <td class="date">2020.11.09</td>,
 <td class="date">2020.11.06</td>,
 <td class="date">2020.11.05</td>]

In [27]:
prices

[<td class="number_1">329.72</td>,
 <td class="number_1">
 <span class="tah p11 nv01">
 				-0.42%
 				</span>
 </td>,
 <td class="number_1" style="padding-right:40px;">342,298</td>,
 <td class="number_1" style="padding-right:30px;">10,251,033</td>,
 <td class="number_1">331.12</td>,
 <td class="number_1">
 <span class="tah p11 red01">
 				+1.53%
 				</span>
 </td>,
 <td class="number_1" style="padding-right:40px;">323,227</td>,
 <td class="number_1" style="padding-right:30px;">12,515,764</td>,
 <td class="number_1">326.13</td>,
 <td class="number_1">
 <span class="tah p11 red01">
 				+0.09%
 				</span>
 </td>,
 <td class="number_1" style="padding-right:40px;">331,188</td>,
 <td class="number_1" style="padding-right:30px;">12,290,587</td>,
 <td class="number_1">325.83</td>,
 <td class="number_1">
 <span class="tah p11 red01">
 				+1.16%
 				</span>
 </td>,
 <td class="number_1" style="padding-right:40px;">276,824</td>,
 <td class="number_1" style="padding-right:30px;">9,841,507</td>,
 <td class="number_1">322.10</td>,
 <td class="number_1">
 <span class="tah p11 red01">
 				+0.18%
 				</span>
 </td>,
 <td class="number_1" style="padding-right:40px;">143,961</td>,
 <td class="number_1" style="padding-right:30px;">8,586,860</td>,
 <td class="number_1">321.51</td>,
 <td class="number_1">
 <span class="tah p11 red01">
 				+2.45%
 				</span>
 </td>,
 <td class="number_1" style="padding-right:40px;">186,088</td>,
 <td class="number_1" style="padding-right:30px;">9,471,766</td>]

In [29]:
source.find('td', class_='pgRR').find('a')['href']

'/sise/sise_index_day.nhn?code=KPI200&page=613'

In [31]:
source.find('td', class_='pgRR').find('a')

<a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=613">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>