In [1]:
import numpy as np
import pandas as pd

In [2]:
prices = {'A' : [1000,1010,1020], 
'B' : [2000, 2010, 2020],
'C' : [3000, 3010, 3020]}

In [3]:
df1 = pd.DataFrame(prices)

In [4]:
df1

      A     B     C
0  1000  2000  3000
1  1010  2010  3010
2  1020  2020  3020