In [1]:
print('a')

a

In [4]:
import pandas as pandas

In [6]:
파일경로='./lemonade.csv'
레모네이드=pandas.read_csv(파일경로)

In [7]:
파일경로='./boston.csv'
보스톤=pandas.read_csv(파일경로)

In [8]:
파일경로='./iris.csv'
아이리스=pandas.read_csv(파일경로)

In [9]:
# 데이터 모양으로 확인
print(레모네이드.shape)
print(보스톤.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

In [10]:
# 컬럼 이름 출력
print(레모네이드.columns)
print(보스톤.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [13]:
독립변수=레모네이드[['온도']]
종속변수=레모네이드[['판매량']]

In [14]:
print(독립변수.shape, 종속변수.shape)

(6, 1) (6, 1)

In [16]:
독립변수=보스톤[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat',]]
종속변수=보스톤[['medv']]

In [17]:
print(독립변수.shape, 종속변수.shape)

(506, 13) (506, 1)

In [18]:
독립변수=아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속변수=아이리스[['품종']]

In [19]:
print(독립변수.shape, 종속변수.shape)

(150, 4) (150, 1)

In [20]:
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [21]:
보스톤.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [22]:
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa